
@{
    ViewData["Title"] = "Final";
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
        window.onload = function () {

            var chartfrf1 = new CanvasJS.Chart("frf", {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                animationEnabled: true,
                zoomEnabled: true,
                exportEnabled: true,
                title: {
                    text: "Funkcja przejścia"
                },
                data: [{
                    type: "line",
                    dataPoints:@Html.Raw(ViewBag.frf)
	}]
            });
            chartfrf1.render();
 
  
   
        }
    </script>
</head>
<body>
    <div id="frf" style="width: 100%; height: 300px;"></div>

    <form asp-controller="Home" method="post">
        <text>Wprowadz czestwoliwosci w tysiącach</text>
        <div class="form-group ">
            <label for="freq1" class="col-md-2 control-label">Piewrsza częstotliwość rezonansowa:</label>
            <input class="form-control" id="freq1" name="freq1" placeholder="Podaj czestotliwość" type="text" value="@ViewData["freq1"]" />
        </div>
        <div class="form-group ">
            <label for="freq2" class="col-md-2 control-label">Druga częstotliwość rezonansowa:</label>
            <input class="form-control" id="freq2" name="freq2" placeholder="Podaj czestotliwość" type="text" value="@ViewData["freq2"]" />
        </div>
        <div class="form-group ">
            <label for="freq3" class="col-md-2 control-label">Trzecia częstotliwość rezonansowa:</label>
            <input class="form-control" id="freq3" name="freq3" placeholder="Podaj czestotliwość" type="text" value="@ViewData["freq3"]" />
        </div>
        <div class="form-group ">
            <label for="freq4" class="col-md-2 control-label">Czwarta częstotliwość rezonansowa:</label>
            <input class="form-control" id="freq4" name="freq4" placeholder="Podaj czestotliwość" type="text" value="@ViewData["freq4"]" />
        </div>
        <div class="form-group ">
            <label for="freq5" class="col-md-2 control-label">Piąta częstotliwość rezonansowa:</label>
            <input class="form-control" id="freq5" name="freq5" placeholder="Podaj czestotliwość" type="text" value="@ViewData["freq5"]" />
        </div>
        <div class="form-group ">
            <input type="submit" asp-action="Resonance" class="btn btn-success" value="Wyświetl ugięcia" />
        </div>


    </form>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

</body>
</html>